# Ingore all
*

# Except these files
!.bashrc
!.gitignore
!.zshrc
!.p10k.zsh

!.vim/
.vim/*
!.vim/vimrc

!.config/
.config/*
!.config/sway/
.config/sway/*
!.config/sway/config

!.config/nvim/
.config/nvim/*
!.config/nvim/init.vim

!.config/lvim/
.config/lvim/*
!.config/lvim/config.lua

!.config/environment.d/
.config/environment.d/*
!.config/environment.d/envvars.conf

!.config/spotifyd
.config/spotifyd/*
!.config/spotifyd/spotifyd.conf

!.config/nvim/lua/
.config/nvim/lua/*
!.config/nvim/lua/lsp-settings.lua

!.config/qutebrowser/
.config/qutebrowser/*
!.config/qutebrowser/config.py

!.config/sworkstyle/
.config/sworkstyle/*
!.config/sworkstyle/config.toml

!.config/mako/
.config/mako/*
!.config/mako/config

!.config/kitty/
.config/kitty/*
!.config/kitty/kitty.conf

!.config/waybar/
.config/waybar/*
!.config/waybar/config
!.config/waybar/style.css

!.config/ranger/
.config/ranger/*
!.config/ranger/rc.conf
!.config/ranger/commands.py
!.config/ranger/rifle.conf
!.config/ranger/commands_full.py
!.config/ranger/scope.sh

!.config/swaylock/
.config/swaylock/*
!.config/swaylock/config

!Scripts/
Scripts/*
!Scripts/Bash
Scripts/Bash/*
!Scripts/Bash/start_webenv.sh
