# # Ingore all
# *

# # Except these files
# !.bashrc
# !.gitignore
# !.zshrc
# !.p10k.zsh

# !.vim/
# .vim/*
# !.vim/vimrc

# !.config/
# .config/*
# !.config/sway/
# .config/sway/*
# !.config/sway/config

# !.config/fusuma/
# .config/fusuma/*
# !.config/fusuma/config.yml

# !.config/nvim/
# .config/nvim/*
# !.config/nvim/init.lua

# !.config/nvim/lua/
# .config/nvim/lua/*
# !.config/nvim/lua/plugins.lua

# !.config/nvim/lua/plugins/
# .config/nvim/lua/plugins/*
# !.config/nvim/lua/plugins/autopairs.lua
# !.config/nvim/lua/plugins/cmp.lua
# !.config/nvim/lua/plugins/kommentary.lua
# !.config/nvim/lua/plugins/lightline.lua
# !.config/nvim/lua/plugins/lsp.lua
# !.config/nvim/lua/plugins/telescope.lua
# !.config/nvim/lua/plugins/treesitter.lua
# !.config/nvim/lua/plugins/trouble.lua

# !.config/nvim/lua/modules/
# .config/nvim/lua/modules/*
# !.config/nvim/lua/modules/utils.lua

# !.config/environment.d/
# .config/environment.d/*
# !.config/environment.d/envvars.conf

# !.config/spotifyd
# .config/spotifyd/*
# !.config/spotifyd/spotifyd.conf

# !.config/qutebrowser/
# .config/qutebrowser/*
# !.config/qutebrowser/config.py

# !.config/sworkstyle/
# .config/sworkstyle/*
# !.config/sworkstyle/config.toml

# !.config/mako/
# .config/mako/*
# !.config/mako/config

# !.config/kitty/
# .config/kitty/*
# !.config/kitty/kitty.conf

# !.config/waybar/
# .config/waybar/*
# !.config/waybar/config
# !.config/waybar/style.css

# !.config/waybar/modules
# .config/waybar/modules/*
# !.config/waybar/modules/test_mod.py

# !.config/ranger/
# .config/ranger/*
# !.config/ranger/rc.conf
# !.config/ranger/commands.py
# !.config/ranger/rifle.conf
# !.config/ranger/commands_full.py
# !.config/ranger/scope.sh

# !.config/swaylock/
# .config/swaylock/*
# !.config/swaylock/config

# !Scripts/
# Scripts/*
# !Scripts/start_webenv.sh
# !Scripts/install_script.py
# !Scripts/fedora_sway.txt
# !Scripts/fedora_devel.txt
