# Ingore all
*

# Except these files
!.bashrc
!.gitignore
!.zshrc
!.p10k.zsh

!.vim/
.vim/*
!.vim/vimrc

!.config/
.config/*
!.config/sway/
.config/sway/*
!.config/sway/config

!.config/nvim/
.config/nvim/*
!.config/nvim/init.vim

!.config/kitty/
.config/kitty/*
!.config/kitty/kitty.conf

!.config/waybar/
.config/waybar/*
!.config/waybar/config
!.config/waybar/style.css

!.config/ranger/
.config/ranger/*
!.config/ranger/rc.conf
!.config/ranger/commands.py
!.config/ranger/rifle.conf
!.config/ranger/commands_full.py
!.config/ranger/scope.sh

!.swaylock/
.swaylock/*
!.swaylock/config

!Scripts/
Scripts/*
!Scripts/Bash
Scripts/Bash/*
!Scripts/Bash/start_webenv.sh
