"" Source your .vimrc
source ~/.vim/vimrc

" putting this here until source works again
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'machakann/vim-highlightedyank'


let mapleader = " "
nmap <space> <Leader>
nnoremap <Leader>n :NERDTreeToggle<CR>
set incsearch
set clipboard+=ideaput


" Find more examples here: https://jb.gg/share-ideavimrc
