[user]
	email = dpgraham4401@gmail.com
	name = David Graham
	signingkey = CFFD143C86072C8F
[gpg]
	program = gpg
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[alias]
	glog = log --oneline --decorate --graph
	gc = commit -v
	ga = add
	gst = status
	ammend = commit -v --amend
	gf = fetch --all --prune
	gcam = commit -a -m
	uncommit = reset --soft HEAD~1
	logs = log --show-signature
	cis = commit -S
[format]
	signoff = false
[core]
	excludesfile = **/.idea/
