[core]
	excludesfile = /Users/dg/.gitignore_global
[user]
	name = David Paul Graham
	email = dpgraham4401@gmail.com
	signingkey = CDD1C11D32C7FCF14117C2084DD347D6528545E8
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[pull]
	rebase = true
[gpg]
	program = gpg
[commit]
	gpgsign = true
